div.pagination {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.navbar-default {
  background-color: #00a8ff;
  border-color: #0097e6;
}
.navbar-default .navbar-brand {
  color: #f5f6fa;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #55efc4;
}
.navbar-default .navbar-text {
  color: #f5f6fa;
}
.navbar-default .navbar-nav > li > a {
  color: #f5f6fa;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #55efc4;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #00a8ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #f5f6fa;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #55efc4;
  background-color: #0097e6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #0097e6;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #55efc4;
  background-color: #0097e6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #55efc4;
  background-color: #0097e6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #55efc4;
  background-color: #0097e6;
}
.navbar-default .navbar-toggle {
  border-color: #0097e6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0097e6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f5f6fa;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f5f6fa;
}
.navbar-default .navbar-link {
  color: #f5f6fa;
}
.navbar-default .navbar-link:hover {
  color: #55efc4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f5f6fa;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #55efc4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #55efc4;
    background-color: #0097e6;
  }
}