{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Edit staff info</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
    $('#enroll_date').datepicker({
        weekStart: 0,
        autoclose: true,
        daysOfWeekHighlighted: "0,6",
        format: "yyyy-mm-dd",
        language: "zh-CN"
    });
    </script>
{% endblock %}
